<div class="container">
  <div class="container-inner inner-sm clearfix">
    <h1>Haveランキング</h1>
      <% @items.each.with_index(1) do |item,i| %>
        <%= "#{i}位" %><br>
        <!-- タイトル -->
        <%= link_to item.title , item %><br>
        <!-- 画像 -->
        <%= image_tag(item.medium_image , alt: item.title) %><br>
      <% end %>
    </div>
</div>